body {
  font-family: 'Lora', serif;
  overflow: scroll;
}

h1 {
  margin-bottom: 25px;
  font-size: 2.6em;
}

.describe {
  font-family: Arial, sans-serif;
  font-size: 1.23em;
}

.color {
  background-color: rgb(255, 253, 213);
}

.row {
  padding: 20px;
}

.quote-display {
  border: 3px solid #cccccc;
  padding: 5px;
  height: 200px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: rgb(255, 253, 213);
}

.social {
  font-size: 2.5em;
  margin-left: 5px;
  display: inline-block;
  margin-top: 0px;
}

button {
  margin-top: 8px;
  height: 2.58em;
  background-color: brown;
  margin-right: 5px;
  border-radius: 8px;
  color: white;
}

.fa-twitter,
.fa-facebook-square {
  color: brown;
}

.fa-facebook-square {
  margin-left: 10px;
}

blockquote {
  border-left: none;
  margin-top: 15px;
}

@media only screen and (max-width: 500px) {
  .fallingLeaves span {
    display: none;
  }
}

.fallingLeaves span {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: -280px 40px 54px -34px;
  background: url("https://drive.google.com/uc?id=0B95vCHzlHsMWcmNUZkcyQ2dxeVk");
  -webkit-animation: fallingLeaves 10s infinite linear;
  -moz-animation: fallingLeaves 10s infinite linear;
}

.fallingLeaves span:nth-child(5n+5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}

.fallingLeaves span:nth-child(3n+2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

.fallingLeaves span:nth-child(2n+5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.fallingLeaves span:nth-child(3n+10) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
}

.fallingLeaves span:nth-child(7n+2) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
}

.fallingLeaves span:nth-child(4n+5) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
}

.fallingLeaves span:nth-child(3n+7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}

@-webkit-keyframes fallingLeaves {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .fallingLeaves span {
    display: none;
  }
}